<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'http://source.unsplash.com/featured/?cuteanimal'%>);">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), { class: 'btn btn-success btn-lg' }  %>
  </div>
</div>
<div class="container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="row">
      <div class="card-product">
        <%= image_tag bookmark.movie.poster_url, alt: "movie", width: 200, height: 300 %>
        <div class="card-product-infos">
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.overview %> (<%= bookmark.movie.rating %>)</p>
          <p><strong>Comment: </strong><%= bookmark.comment %> <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Do you want to delete #{bookmark.movie.title} from the list?"} do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
